body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

#lista-carrito {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

.producto-en-carrito {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#total-container {
    display: flex;
    justify-content: space-between;
}

.btn-secondary,
.btn-primary {
    display: inline-block;
    margin: 5px 0;
}
